/*font-family: "Abril Fatface", serif;
font-family: "Open Sans", sans-serif;
font-family: "Scandia", sans-serif;*/

* {
  margin: 0;
}

/*WORLD MAP*/
.map {
  width: 100%;
  height: 50rem;
  background-color: #bfd0df;
}

.magazine-title {
  font-family: "Abril Fatface", serif;
  font-size: 5rem;
  letter-spacing: 1rem;
  position: absolute;
  color: #faf3e9;
  margin-left: 3rem;
  margin-top: 0.2rem;
}

.magazine-title2 {
  font-family: "Scandia", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: #faf3e9;
  position: absolute;
  padding-top: 6.5rem;
  padding-left: 1.5rem;
}

.pin {
  background: #faf3e9;
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
}

.pin::before {
  content: "";
  background: #faf3e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease-in-out infinite;
  animation-play-state: running;
}

.pin:hover::before {
  width: 200px;
  animation-play-state: paused;
  scale: 0;
}

.pin:hover {
  width: 7rem;
  height: 2rem;
  border-radius: 1rem;
  transition: all 0.3s ease-out;
  transform: translate(-40%, -20%);
}

/* .mexico:hover,
.lebanon:hover,
.iceland:hover,
.sweden:hover,
.germany:hover,
.australia:hover,
.greece:hover,
.russia:hover,
.indonesia:hover {
  width: 5rem;
} */

/* .cuba:hover,
.usa:hover,
.chile:hover,
.egypt:hover,
.uk:hover,
.france:hover,
.italy:hover,
.india:hover,
.japan:hover,
.china:hover {
  width: 4rem;
} */

.pin span {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: opacity 0.2s ease-in-out;
}

.pin:hover span {
  display: flex;
  transform: translate(-50%, -50%) scale(1);
}

span {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  font-size: 0.9em;
  display: none;
}

.usa {
  top: 44%;
  left: 23.7%;
}

.mexico {
  top: 52%;
  left: 22.3%;
}

.cuba {
  top: 53.4%;
  left: 28%;
}

.chile {
  top: 75%;
  left: 30.8%;
}

.egypt {
  top: 51.5%;
  left: 55%;
}

.south-africa {
  top: 74%;
  left: 53.7%;
}

.lebanon {
  top: 49%;
  left: 56.5%;
}

.iceland {
  top: 31.7%;
  left: 44%;
}

.uk {
  top: 39%;
  left: 47.2%;
}

.sweden {
  top: 34%;
  left: 50.7%;
}

.germany {
  top: 40%;
  left: 50%;
}

.france {
  top: 42.2%;
  left: 48.3%;
}

.italy {
  top: 44.6%;
  left: 51%;
}

.australia {
  top: 74%;
  left: 82%;
}

.greece {
  top: 46%;
  left: 53%;
}

.russia {
  top: 32%;
  left: 67%;
}

.china {
  top: 45%;
  left: 73%;
}

.india {
  top: 54.5%;
  left: 67.3%;
}

.indonesia {
  top: 62.5%;
  left: 76.7%;
}

.japan {
  top: 45.7%;
  left: 81.5%;
}

@keyframes pulse {
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*TO TOP BUTTON*/
.to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  border: none;
  background-color: white;
  width: 2rem;
  height: 2rem;
  display: none;
}

.fa-chevron-up {
  font-size: 1.3rem;
  margin-top: 0.2rem;
}

/*ARROW DOWN BUTTON*/
.container {
  position: relative;
}

.arrow {
  position: absolute;
  border: none;
  background-color: #bfd0df;
  left: 50%;
  margin-top: 2rem;
  width: 5rem;
  height: 5rem;
  animation: floatUpDown 1s ease-in-out infinite alternate;
}

@keyframes floatUpDown {
  0% {
    transform: translate(-50%, -210%);
  }
  50% {
    transform: translate(-50%, -230%);
  }
  100% {
    transform: translate(-50%, -210%);
  }
}

.fa-down-long {
  color: #faf3e9;
  font-size: 3.5rem;
}

/*WELCOME TEXT*/

.dotted-circle {
  margin-top: 4rem;
  margin-left: 20rem;
  width: 26rem;
}

.welcome-text {
  position: absolute;
  text-align: center;
  width: 45rem;
  color: #494949;
  font-size: 17px;
  top: 61rem;
  left: 24rem;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
}

/*TABLE OF CONTENT*/
.table-of-content-title {
  font-family: "Scandia", sans-serif;
  font-size: 50px;
  margin-top: 6rem;
  margin-left: 3rem;
  color: #fb9246;
  font-weight: 400;
}

.destination-directionary {
  font-family: "Abril Fatface", serif;
  font-size: 65px;
  margin-left: 8rem;
  color: #fb9246;
}

.table-of-content {
  display: flex;
  overflow-x: auto;
  margin-top: 5rem;
  margin-left: 8rem;
  position: relative;
}

.one,
.two,
.three,
.four,
.five,
.six {
  background-color: #faf3e9;
  height: 30rem;
  min-width: 30rem;
  text-align: center;
  font-family: "Abril Fatface", serif;
  color: #fb9246;
  font-size: 180pt;
  line-height: 30rem;
  padding-right: 5rem;
}

.title-one,
.title-two,
.title-three,
.title-four,
.title-five,
.title-six {
  font-family: "Amiri", serif;
  font-size: 22pt;
  position: absolute;
  margin-top: 10rem;
}

.title-one {
  margin-left: 22rem;
}

.title-two {
  margin-left: 58rem;
}

.title-three {
  margin-left: 93rem;
}

.title-four {
  margin-left: 128rem;
}

.title-five {
  margin-left: 163rem;
}

.title-six {
  margin-left: 198rem;
}

.title-one-content,
.title-two-content,
.title-three-content-first,
.title-three-content-second,
.title-four-content,
.title-five-content-first,
.title-five-content-second,
.title-six-content {
  font-family: "Amiri", serif;
  font-size: 18pt;
  position: absolute;
  line-height: 2rem;
  margin-top: 13rem;
}

.title-one-content {
  margin-left: 22rem;
}

.title-two-content {
  margin-left: 58rem;
}

.title-three-content-first {
  margin-left: 93rem;
}

.title-three-content-second {
  margin-left: 102rem;
  margin-top: 11rem;
}

.title-four-content {
  margin-left: 128rem;
}

.title-five-content-first {
  margin-left: 163rem;
}

.title-five-content-second {
  margin-left: 172rem;
}

.title-six-content {
  margin-left: 198rem;
}

/*NORTH AMERICA*/
.section-one {
  position: relative;
  font-family: "Abril Fatface", serif;
  color: #faf3e9;
  font-size: 350pt;
  margin-top: 1.5rem;
  margin-left: 14rem;
}

.section-north {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #ffb4c1;
  font-size: 90pt;
  top: 140rem;
  left: 33rem;
}

.section-america {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #f18094;
  font-size: 130pt;
  top: 145rem;
  left: 22rem;
  background-color: white;
  height: 13rem;
}

/*CUBA*/
.cuba {
  display: flex;
  margin-left: 6rem;
  align-items: center;
  margin-top: 5rem;
}

.cuba-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 6rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.cuba-subheading {
  font-weight: 700;
  margin-top: 1rem;
}

.cuba-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 8rem;
  margin-top: 2rem;
}

.cuba-image {
  width: auto;
}

/*MEXICO*/
.mexico {
  margin-top: 15rem;
}

.mexico-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.mexico-subheading1,
.mexico-subheading2,
.mexico-subheading3 {
  font-weight: 700;
  margin-top: 1rem;
}

.mexico-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  font-family: "Open Sans", sans-serif;
  margin-left: 3rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 16px;
  width: 85rem;
  align-items: baseline;
}

/*USA*/
.usa {
  margin-top: 15rem;
  display: flex;
  margin-left: 6rem;
  align-items: center;
}

.usa-headline {
  font-family: "Scandia", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-left: 4rem;
}

.usa-subheading {
  font-weight: 700;
  margin-top: 1rem;
}

.usa-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-top: 1.5rem;
  margin-left: 4.9rem;
}

.usa-image {
  margin-left: 10.6rem;
}

/*SOUTH AMERICA*/
.section-two {
  position: relative;
  font-family: "Abril Fatface", serif;
  color: #faf3e9;
  font-size: 350pt;
  margin-top: 2rem;
  margin-left: 13rem;
}

.section-south {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #ffb4c1;
  font-size: 90pt;
  top: 369rem;
  left: 35rem;
}

.section-america2 {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #f18094;
  font-size: 130pt;
  top: 374rem;
  left: 24rem;
  background-color: white;
  height: 13rem;
}

/*CHILE*/
.chile {
  display: flex;
  margin-top: 5rem;
  overflow-x: auto;
}

.chile-headline {
  font-family: "Scandia", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.chile-image1 {
  margin-right: 15rem;
}

.chile-image2 {
  margin-left: 15rem;
}

.chile-text {
  font-family: "Open Sans", sans-serif;
  column-gap: 5rem;
  columns: 2;
  width: 55rem;
  margin-top: 2rem;
}

.chile-subheading {
  font-weight: 700;
  margin-top: 1rem;
}

/*EUROPE*/
.section-three {
  position: relative;
  font-family: "Abril Fatface", serif;
  color: #faf3e9;
  font-size: 350pt;
  margin-left: 14rem;
  margin-top: 2rem;
}

.section-europe {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #f18094;
  font-size: 130pt;
  top: 452rem;
  left: 26rem;
  background-color: white;
  height: 13rem;
}

/*ENGALND*/
.england {
  margin-top: 4rem;
}

.england-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 3rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.england-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  font-family: "Open Sans", sans-serif;
  margin-left: 3rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 16px;
  width: 84rem;
  align-items: baseline;
}

/*FRANCE*/
.france {
  display: flex;
  margin-left: 6rem;
  align-items: center;
  margin-top: 15rem;
}

.france-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 6rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.france-subheading {
  font-weight: 700;
  margin-top: 1rem;
}

.france-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 8rem;
  margin-top: 2rem;
}

/*GERMANY*/
.germany {
  display: flex;
  margin-bottom: 15rem;
  margin-top: 15rem;
  overflow-x: auto;
}

.germany-headline {
  font-family: "Scandia", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.germany-image1 {
  margin-right: 15rem;
}

.germany-image2 {
  margin-left: 15rem;
}

.germany-subheading1,
.germany-subheading2 {
  font-weight: 700;
  margin-top: 1rem;
}

.germany-text {
  font-family: "Open Sans", sans-serif;
  column-gap: 5rem;
  columns: 2;
  width: 55rem;
  margin-top: 2rem;
}

/*GREECE*/
.greeceImg {
  width: 18rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.greece {
  display: flex;
  margin-bottom: 15rem;
}

.greece-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 3rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.greeceImg2 {
  margin-left: 10.5rem;
}

.greece1,
.greece2,
.greece3 {
  margin-top: 1rem;
}

.greece-all-text {
  margin-left: 6rem;
}

.greece-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 5rem;
}

.greece-subheading {
  font-weight: 700;
}

/*ICELAND*/
.iceland {
  display: flex;
  margin-left: 6rem;
  align-items: center;
}

.iceland-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 6rem;
  text-align: center;
  font-size: 50px;
  margin-bottom: 2rem;
  font-weight: 400;
}

.iceland-subheading1,
.iceland-subheading2 {
  font-weight: 700;
  margin-top: 1rem;
}

.iceland-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-left: 8rem;
  width: 24rem;
}

/*ITALY*/
.italy {
  margin-top: 15rem;
}

.italy-image {
  width: 60rem;
  margin-left: 15rem;
}

.italy-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 4rem;
  font-size: 50px;
  font-weight: 400;
}

.italy-subheading1,
.italy-subheading2,
.italy-subheading3 {
  font-weight: 700;
  margin-top: 1rem;
}

.italy-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  font-family: "Open Sans", sans-serif;
  margin-left: 3rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 16px;
  width: 84rem;
  align-items: baseline;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.italy-all-text {
  background-color: #fcc094;
}

/*SWEDEN*/
.sweden {
  display: flex;
  margin-top: 15rem;
  align-items: center;
}

.sweden-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 3rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.swedenImg {
  margin-left: 10.5rem;
}

.sweden1,
.sweden2,
.sweden3 {
  margin-top: 1rem;
}

.sweden-all-text {
  margin-left: 6rem;
}

.sweden-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

.sweden-subheading {
  font-weight: 700;
}

/*AFRICA*/
.section-four {
  position: relative;
  font-family: "Abril Fatface", serif;
  color: #faf3e9;
  font-size: 350pt;
  margin-top: 2rem;
  margin-left: 14rem;
}

.section-africa {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #f18094;
  font-size: 130pt;
  top: 985rem;
  left: 25.5rem;
  background-color: white;
  height: 13rem;
}

/* EGYPT */
.egypt {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.egypt-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 3rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.egypt-all-text {
  margin-left: 5rem;
}

.egypt-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 6rem;
}

.egypt1,
.egypt2,
.egypt3 {
  margin-bottom: 1rem;
}

.egypt-subheading {
  font-weight: 700;
}

/*SOUTH AFRICA*/
.southafrica {
  display: flex;
  margin-top: 15rem;
  align-items: center;
}

.southafrica-headline {
  font-family: "Scandia", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.southafricaImg {
  margin-left: 5rem;
}

.southafrica-all-text {
  margin-left: 6rem;
}

.southafrica-subheading1 {
  font-weight: 700;
  margin-top: 1rem;
}

.southafrica-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

/*ASIA*/
.section-five {
  position: relative;
  font-family: "Abril Fatface", serif;
  color: #faf3e9;
  font-size: 350pt;
  margin-top: 2rem;
  margin-left: 18rem;
}

.section-asia {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #f18094;
  font-size: 130pt;
  top: 1138rem;
  left: 30rem;
  background-color: white;
  height: 13rem;
}

/*CHINA*/
.china {
  display: flex;
  margin-top: 5rem;
  align-items: center;
}

.china-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 3rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.chinaImg {
  margin-left: 10.5rem;
}

.china1,
.china2,
.china3 {
  margin-top: 1rem;
}

.china-all-text {
  margin-left: 6rem;
}

.china-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 5rem;
}

.china-subheading {
  font-weight: 700;
}

/*INDIA*/
.india {
  margin-top: 15rem;
}

.india-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 4rem;
  font-size: 50px;
  font-weight: 400;
}

.india-subheading1,
.india-subheading2 {
  font-weight: 700;
  margin-top: 1rem;
}

.india-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  font-family: "Open Sans", sans-serif;
  margin-left: 3rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 16px;
  width: 84rem;
  align-items: baseline;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.india-all-text {
  background-color: #fcc094;
}

/*INDONESIA*/
.indonesia {
  display: flex;
  margin-top: 15rem;
  align-items: center;
}

.indonesia-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 3rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.indonesiaImg {
  margin-left: 6rem;
}

.indonesia-africa1,
.indonesia-africa2 {
  margin-top: 4rem;
}

.indonesia-all-text {
  margin-left: 4rem;
}

.indonesia-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 4rem;
}

.indonesia-subheading {
  font-weight: 700;
  margin-top: 1rem;
}

/*JAPAN*/
.japan {
  display: flex;
  margin-bottom: 15rem;
  margin-top: 15rem;
  overflow-x: auto;
}

.japan-headline {
  font-family: "Scandia", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.japanImg1 {
  margin-right: 15rem;
}

.japanImg2 {
  margin-left: 15rem;
}

.japan-text {
  font-family: "Open Sans", sans-serif;
  column-gap: 5rem;
  columns: 2;
  width: 50rem;
}

.japanSymbol {
  width: 13rem;
}

.japan-symbols {
  display: flex;
  justify-content: center;
}

.japan2,
.japan3,
.japan4 {
  margin-top: 1rem;
}

.japan-subheading {
  font-weight: 700;
}

/*RUSSIA*/
.russia {
  margin-top: 15rem;
}

.russia-image {
  margin-left: 30rem;
  margin-bottom: 2rem;
  height: 36rem;
  width: 30rem;
}

.russia-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 4rem;
  font-size: 50px;
  font-weight: 400;
}

.russia-text {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  font-family: "Open Sans", sans-serif;
  margin-left: 2rem;
  margin-right: 1.5rem;
}

.russia-all-text {
  background-color: #fcc094;
}

.russia-subheading {
  font-weight: 700;
  margin-top: 1rem;
}

/*THAILAND*/
.thailand {
  display: flex;
  margin-top: 15rem;
  align-items: center;
}

.thailand-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 3rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.thailandImg {
  margin-left: 10.5rem;
}

.thailand1,
.thailand2 {
  margin-top: 1rem;
}

.thailand-all-text {
  margin-left: 6rem;
}

.thailand-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 5rem;
}

.thailand-subheading {
  font-weight: 700;
}

/*OCEANIA*/
.section-six {
  position: relative;
  font-family: "Abril Fatface", serif;
  color: #faf3e9;
  font-size: 350pt;
  margin-top: 1.5rem;
  margin-left: 14rem;
}

.section-oceania {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #f18094;
  font-size: 130pt;
  top: 1582rem;
  left: 28rem;
  background-color: white;
  height: 13rem;
}

/*AUSTRALIA*/
.australia {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.australia-headline {
  font-family: "Scandia", sans-serif;
  margin-left: 3rem;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.australia-all-text {
  margin-left: 5rem;
}

.australia-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 6rem;
}

.australia-subheading {
  font-weight: 700;
  margin-top: 1rem;
}

/*FOOTER*/

.faboulus-four {
  width: 100%;
  background-color: #f18094;
  font-size: 20px;
  margin-top: 40rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
