/*font-family: "Abril Fatface", serif;
font-family: "Open Sans", sans-serif;
font-family: "Amiri", serif;*/

* {
  margin: 0;
}

/*WORLD MAP*/
.map {
  width: 100%;
  height: 50rem;
  background-color: #bfd0df;
}

.magazine-title {
  font-family: "Abril Fatface", serif;
  font-size: 5rem;
  letter-spacing: 1rem;
  position: absolute;
  color: #faf3e9;
  margin-left: 3rem;
  margin-top: 0.2rem;
}

.magazine-title2 {
  font-family: "Scandia", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: #faf3e9;
  position: absolute;
  padding-top: 6.5rem;
  padding-left: 1.5rem;
}

.pin {
  background: #faf3e9;
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
}

.pin::before {
  content: "";
  background: #faf3e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease-in-out infinite;
  animation-play-state: running;
}

.pin:hover::before {
  width: 200px;
  animation-play-state: paused;
  scale: 0;
}

.pin:hover {
  width: 7rem;
  height: 2rem;
  border-radius: 1rem;
  transition: all 0.3s ease-out;
  transform: translate(-40%, -20%);
}

.mexico:hover,
.lebanon:hover,
.iceland:hover,
.sweden:hover,
.germany:hover,
.australia:hover,
.greece:hover,
.russia:hover,
.indonesia:hover {
  width: 5rem;
}

/* .cuba:hover,
.usa:hover,
.chile:hover,
.egypt:hover,
.uk:hover,
.france:hover,
.italy:hover,
.india:hover,
.japan:hover,
.china:hover {
  width: 4rem;
} */

.pin span {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: opacity 0.2s ease-in-out;
}

.pin:hover span {
  display: flex;
  transform: translate(-50%, -50%) scale(1);
}

span {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  font-size: 0.9em;
  display: none;
}

.usa {
  top: 44%;
  left: 23.7%;
}

.mexico {
  top: 52%;
  left: 22.3%;
}

.cuba {
  top: 53.4%;
  left: 28%;
}

.chile {
  top: 75%;
  left: 30.8%;
}

.egypt {
  top: 51.5%;
  left: 55%;
}

.south-africa {
  top: 74%;
  left: 53.7%;
}

.lebanon {
  top: 49%;
  left: 56.5%;
}

.iceland {
  top: 31.7%;
  left: 44%;
}

.uk {
  top: 39%;
  left: 47.2%;
}

.sweden {
  top: 34%;
  left: 50.7%;
}

.germany {
  top: 40%;
  left: 50%;
}

.france {
  top: 42.2%;
  left: 48.3%;
}

.italy {
  top: 44.6%;
  left: 51%;
}

.australia {
  top: 74%;
  left: 82%;
}

.greece {
  top: 46%;
  left: 53%;
}

.russia {
  top: 32%;
  left: 67%;
}

.china {
  top: 45%;
  left: 73%;
}

.india {
  top: 54.5%;
  left: 67.3%;
}

.indonesia {
  top: 62.5%;
  left: 76.7%;
}

.japan {
  top: 45.7%;
  left: 81.5%;
}

@keyframes pulse {
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*TO TOP BUTTON*/
.to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  border: none;
  background-color: white;
  width: 2rem;
  height: 2rem;
  display: none;
}

.fa-chevron-up {
  padding-right: 0.5rem;
  font-size: 1.5rem;
  color: rgb(54, 53, 53);
}

/*ARROW DOWN BUTTON*/
.container {
  position: relative;
}

.arrow {
  position: absolute;
  border: none;
  background-color: #bfd0df;
  left: 50%;
  margin-top: 2rem;
  width: 5rem;
  height: 5rem;
  animation: floatUpDown 1s ease-in-out infinite alternate;
}

@keyframes floatUpDown {
  0% {
    transform: translate(-50%, -210%);
  }
  50% {
    transform: translate(-50%, -230%);
  }
  100% {
    transform: translate(-50%, -210%);
  }
}

.fa-down-long {
  color: #faf3e9;
  font-size: 3.5rem;
}

/*WELCOME TEXT*/

.dotted-circle {
  margin-top: 4rem;
  margin-left: 20rem;
  width: 26rem;
}

.welcome-text {
  position: absolute;
  text-align: center;
  width: 45rem;
  color: #494949;
  font-size: 17px;
  top: 61rem;
  left: 24rem;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
}

/*TABLE OF CONTENT*/
.table-of-content-title {
  font-family: "Scandia", sans-serif;
  font-size: 50px;
  margin-top: 6rem;
  margin-left: 3rem;
  color: #fb9246;
}

.destination-directionary {
  font-family: "Abril Fatface", serif;
  font-size: 65px;
  margin-left: 8rem;
  color: #fb9246;
}

.table-of-content {
  display: flex;
  overflow-x: auto;
  margin-top: 5rem;
  margin-left: 8rem;
  position: relative;
}

.one,
.two,
.three,
.four,
.five,
.six {
  background-color: #faf3e9;
  height: 30rem;
  min-width: 30rem;
  text-align: center;
  font-family: "Abril Fatface", serif;
  color: #fb9246;
  font-size: 180pt;
  line-height: 30rem;
  padding-right: 5rem;
}

.title-one,
.title-two,
.title-three,
.title-four,
.title-five,
.title-six {
  font-family: "Amiri", serif;
  font-size: 22pt;
  position: absolute;
  margin-top: 10rem;
}

.title-one {
  margin-left: 22rem;
}

.title-two {
  margin-left: 58rem;
}

.title-three {
  margin-left: 93rem;
}

.title-four {
  margin-left: 128rem;
}

.title-five {
  margin-left: 163rem;
}

.title-six {
  margin-left: 198rem;
}

.title-one-content,
.title-two-content,
.title-three-content-first,
.title-three-content-second,
.title-four-content,
.title-five-content-first,
.title-five-content-second,
.title-six-content {
  font-family: "Amiri", serif;
  font-size: 18pt;
  position: absolute;
  line-height: 2rem;
  margin-top: 13rem;
}

.title-one-content {
  margin-left: 22rem;
}

.title-two-content {
  margin-left: 58rem;
}

.title-three-content-first {
  margin-left: 93rem;
}

.title-three-content-second {
  margin-left: 102rem;
  margin-top: 11rem;
}

.title-four-content {
  margin-left: 128rem;
}

.title-five-content-first {
  margin-left: 163rem;
}

.title-five-content-second {
  margin-left: 172rem;
}

.title-six-content {
  margin-left: 198rem;
}

/*NORTH AMERICA*/
.section-one {
  position: relative;
  font-family: "Abril Fatface", serif;
  color: #faf3e9;
  font-size: 350pt;
  margin-top: 1.5rem;
  margin-left: 14rem;
}

.section-north {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #ffb4c1;
  font-size: 90pt;
  top: 140rem;
  left: 33rem;
}

.section-america {
  position: absolute;
  font-family: "Abril Fatface", serif;
  color: #f18094;
  font-size: 130pt;
  top: 145rem;
  left: 22rem;
  background-color: white;
  height: 13rem;
}

/*CUBA*/
.cuba {
  display: flex;
  margin-left: 6rem;
}

.cuba-headline {
  font-family: "Amiri", serif;
  margin-left: 3rem;
  text-align: center;
  font-size: 50px;
}

.cuba-text {
  font-family: "Open Sans", sans-serif;
  width: 25rem;
  margin-left: 4rem;
}

/*MEXICO*/
.mexico {
  margin-top: 25rem;
}

.mexico-headline {
  font-family: "Amiri", serif;
  margin-left: 3rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 50px;
}

.mexico-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Amiri", serif;
  margin-left: 2rem;
  text-align: center;
  font-size: 20px;
}

/*FOOTER*/

.faboulus-four {
  width: 100%;
  background-color: #f18094;
  font-size: 20px;
  margin-top: 40rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
